.scene {
    border-radius: 20px;
    height: 100%;
    background: linear-gradient(35deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,0.03) 30%);
    border: 1px solid rgba(255,255,255,0.10);
    box-shadow:
    0 10px 30px rgba(2,6,23,0.6),
    0 2px 6px rgba(10,20,60,0.35);
    backdrop-filter: blur(14px) saturate(115%);
    -webkit-backdrop-filter: blur(14px) saturate(115%);
}