.circleBtn {
    border: 1px solid rgba(255,255,255,0.10);
    border-radius: 50%;
    background: linear-gradient(35deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0.05) 60%);
    padding:.5em;
    box-shadow:
    0 10px 30px rgba(2,6,23,0.6),
    0 2px 6px rgba(10,20,60,0.35);
    color: rgba(255, 255, 255, 0.4);
}

.circleBtn:not(:disabled):active {
    color: white;
    scale: .8;
    box-shadow: 0 1px 5px #2d2655;
}

/* HOVER */
.circleBtn:not(:disabled):hover {
    background: linear-gradient(35deg, rgba(255, 255, 255, 0.4) 0%, rgba(255,255,255,0.15) 60%);
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 10px #6455bb;
}

/* DISABLED */
.circleBtn:disabled {
  opacity: 0.4;
  cursor:unset;
  scale: 1;
  box-shadow: 1px 1px 1px #000000;
}

.circleBtn svg {
    display: flex;
    fill: currentColor;
}
