/* ------------------- UI ---------------------- */
.ui-container {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    pointer-events: none;
}

/* ------------------- SCENE ---------------------- */
.scene-container {
    /* border: 1px solid red; */
    padding: 2em;
    width: 100vw;
    height: 100%;
    background-image: radial-gradient(circle at bottom left, #1e1941, transparent 70%),
                        radial-gradient(circle at top right, rgba(18,12,35,1), transparent 50%),
                        linear-gradient(-35deg,#091332 0% , #080e2a 100%);
}

/* ------------------- MOBILE ---------------------- */

@media (max-width: 767px) {
    .scene-container { padding: 10px; height: 100dvh;}
    .ui-container { padding: 10px;}
}